:root {
  --color-background: #f3f7fa;
  --color-white: #fff;
  --color-blue: #2196f3;
  --color-light-blue: #f1fcff;
  --color-black: #4a4a4a;
  --color-light-grey: #dfe5ec;
  --color-grey: #a0b0b9;
  --color-blue-grey: #9ABBCE;
}
